<% include header %>
    <!--购物车-->
    <div class="container">
        
        <div class="cart">
            <h3>全部商品</h3>
            <% data.forEach(function(data){%>
            <div>
                <input class="cartche" data-price="<%= data.price%>" type="checkbox" name="chkItem" >
                <img src="" alt="">
                <span class="p-name"><%= data.name %></span>
                数量：X<span class="p-num"><%= data.num %></span>
                <span class="p-price">¥<%= data.price %></span>
                <a href="/delcart/<%= data._id %>">删除</a>
                <input class="cart-id" type="hidden" value="<%= data._id %>">
            </div>
            <% }) %>
        </div>
        
        <div class="cart-ops pull-right">
            ¥<span class="cart-price">0.00</span>
            <button class="cart-btn">结算</button>
        </div>
    </div>
    <div class="clearfix"></div>
<% include footer %>