<% include header %>
<script>
    var index = window.location.href.indexOf('/page');
    var url = '/mobile'+ window.location.href.substr(index,window.location.href.length);
    if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
            location.href = url;
    }else{
        
    }
    </script>
    <!--导航-->
    <div class="nav">
        <div class="container">
            <div class="categorys">
                <a href="">全部商品分类</a>
            </div>
            <div class="navitems">
                <ul>
                    <li><a href="#">服装城</a></li>
                    <li><a href="#">美妆馆</a></li>
                    <li><a href="#">超市</a></li>
                    <li><a href="#">全球购</a></li>
                    <li><a href="#">闪购</a></li>
                    <li><a href="#">团购</a></li>
                    <li><a href="#">拍卖</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--商品详情-->
    <div class="container">
        <% data.forEach(function(data){%>
        <div class="layout">
            <div class="layout-img pull-left">
                <img class="pro-gallery-img" src="/<%= data.imgsrc%>" alt="">
            </div>
            <div class="pro-price pull-left">
                <h1 class="sname"><%= data.name%></h1>
                <h3 class="stitle"><%= data.nametitle%></h3>
                <p>价格：<b>¥</b><b class="sprice"> <%= data.price%></b></p>
                
                <p>购买数量：<input class="snum" type="number" name="points" min="1" max="99" value="1" /></p>
                <p>
                    <a class="pro-btn" href="javascript:;">加入购物车</a>
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pro-feature">
            <%= data.content %>
        </div>
        <% })%>
    </div>
    <div class="clearfix"></div>
    
<% include footer%>