<% include header %>
        <header>
            <div class="header-ico-f pull-left">
                <a href="javascript:location.href='/';"><i class="glyphicon glyphicon-menu-left"></i></a>
            </div>
            <div class="header-title center-block text-center">
                我的订单
            </div>
        </header>
        <div style="padding-top: 20px;">
        	
        </div>
        <div class="container-fluid">
            <% data.forEach(function(data){%>
            <div class="cart-c">
                <div class="cart-img pull-left">
                    <img src="<%= data.img%>" alt="暂时没有图片">
                </div>
                <div class="cart-test pull-left">
                    <p class="cart-name"><%= data.name %></p>
                    数量：X<span class="p-num"><%= data.num %></span>
                    <p class="cart-price">¥ <%= data.price %></p>
                    <td class="text-center"><% if(data.status){%>已付款<% }else{%>未付款<%}%></td>
                    <p><a class="paying" href="/paying/<%= data._id%>"><% if(data.status){%><% }else{%>付款<%}%></a> <a href="/delorder/<%= data._id %>">删除订单</a></p>
                    <input class="cart-id" type="hidden" value="<%= data._id %>">
                </div>
            </div>
            <div class="clearfix"></div>
            <% }) %>
        </div>
        <script>
            if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                
            }else{
                location.href = '/user';
            }
        </script>
<% include footer %>